*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.target-cover{
    position: relative;
    width: 70px;
    height: 70px;
    background: rgb(244, 2, 62);
    border-radius: 18px;
}
.target-inner-cover{
    width: 75%;
    height: 75%;
    background: #fff;
    border-radius: 11px;
}
.target-cover::before,
.target-cover::after{
    content: "";
    position: absolute;
    margin: 0 auto;
    width: 25%;
    height: calc(100% + 10px);
    background: #fff;
}
.target-cover::before{
    rotate: 90deg;
}
.target-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(244, 2, 62);
    z-index: 2;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%,100%{
        scale: 0.8;
    }
    33%{
        scale: 1;
    }
    66%{
        scale: 1.2;
    }
}